h1{ font-family: Arial, Helvetica, sans-serif;
color:deeppink;
background-color: black;}
h2{  font-family: Arial, Helvetica, sans-serif;
color: brown;
background-color: aquamarine;}
p{font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
font-style: italic;
background-color: azure;}