@charset "utf-8";

body {
    background-color: #e0c9e9;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 25px 80px 75px 100px;
}
.div1 {
    float: none;
    width: 150px;
    font-style: italic;
    height: 50px;
    margin: 10px;
    padding: 15px;
    border: 10px solid #2181ad;
    text-align: center;

}

.div2 {
    border-top: 2px;
    border: 2px solid #2181ad;
    clear: right;
}


.section2 {
    width: 25px;
    height: 25px;
    padding: 25px;
    border: 1px solid red;
}